server {
  listen 80;

  location / {
    root   /usr/share/nginx/html;
    index  index.html;
    # Esto es para que el enrutamiento de React (React Router) funcione bien
    try_files $uri $uri/ /index.html;
  }

  # ¡La magia ocurre aquí!
  # Cualquier petición que empiece con /api es redirigida al backend
  location /api {
    # 'server' es el nombre que le daremos al servicio del backend en docker-compose.yml
    proxy_pass http://server:5000;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
  }
}